*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

input {
    outline-width: 0;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 14fr 1fr;
    width: 90vw;
    height: 90vh;
}

.outputs-container {
    border: solid 2px #302E2D;
    background: transparent;
    color: antiquewhite;
    font-size: 2vh;
    padding: 30px;
    max-height: 83vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.output {
    background: transparent;
    padding: 7px 0px;
}

.inputs-container {
    border: solid 2px #302E2D;
    background: transparent;
    color: antiquewhite;
    font-size: 2vh;
    width: 100%;
    height: 100%;
    padding: 0px 30px; 
    outline: none;
}


                                                                                                  